In [1]:
import json
sys.path.append('../')
from utilities import from_dict_to_df
import pandas as pd

In [2]:
# open dataset
with open('../../data/full_data.json', 'r') as file:
    data = json.load(file)

In [3]:
data_df = pd.DataFrame(data['Patients'])
data_df

,id,name,gender,conditions,trials
0,pat_0,Aadam,Male,"[{'id': 'c1', 'diagnosed': '2003-10-03', 'cure...","[{'id': 'c1_t1', 'start': '2005-11-01', 'end':..."
1,pat_1,Aadil,Male,"[{'id': 'c1', 'diagnosed': '2000-02-10', 'cure...","[{'id': 'c1_t1', 'start': '2011-07-03', 'end':..."
2,pat_2,Aaisha,Female,"[{'id': 'c1', 'diagnosed': '2009-07-10', 'cure...","[{'id': 'c1_t1', 'start': '2010-02-02', 'end':..."
3,pat_3,Aakash,Male,"[{'id': 'c1', 'diagnosed': '2002-03-27', 'cure...","[{'id': 'c1_t1', 'start': '2003-08-26', 'end':..."
4,pat_4,Aalia,Female,"[{'id': 'c1', 'diagnosed': '2008-12-24', 'cure...","[{'id': 'c1_t1', 'start': '2011-12-16', 'end':..."
...,...,...,...,...,...
19995,pat_19995,ကို,Male,"[{'id': 'c1', 'diagnosed': '2000-07-28', 'cure...","[{'id': 'c1_t1', 'start': '2018-04-20', 'end':..."
19996,pat_19996,丽丽,Female,"[{'id': 'c1', 'diagnosed': '2009-09-26', 'cure...","[{'id': 'c1_t1', 'start': '2016-09-26', 'end':..."
19997,pat_19997,俊杰,Male,"[{'id': 'c1', 'diagnosed': '2000-10-21', 'cure...","[{'id': 'c1_t1', 'start': '2003-12-06', 'end':..."
19998,pat_19998,婷婷,Female,"[{'id': 'c1', 'diagnosed': '2003-01-13', 'cure...","[{'id': 'c1_t1', 'start': '2007-09-12', 'end':..."
19999,pat_19999,지혜,Female,"[{'id': 'c1', 'diagnosed': '2005-05-24', 'cure...","[{'id': 'c1_t1', 'start': '2010-09-05', 'end':..."

In [ ]:
data_df.loc[data_df["name"] == "Aadam"]["conditions"][0]

[{'id': 'c1', 'diagnosed': '2003-10-03', 'cured': None, 'kind': 'cond_127'},
 {'id': 'c2', 'diagnosed': '2005-02-21', 'cured': None, 'kind': 'cond_14'},
 {'id': 'c3', 'diagnosed': '2006-09-10', 'cured': None, 'kind': 'cond_158'},
 {'id': 'c4',
  'diagnosed': '2008-03-25',
  'cured': '2019-12-31',
  'kind': 'cond_6'},
 {'id': 'c5',
  'diagnosed': '2009-12-23',
  'cured': '2018-01-06',
  'kind': 'cond_147'},
 {'id': 'c6',
  'diagnosed': '2009-12-26',
  'cured': '2019-12-31',
  'kind': 'cond_13'},
 {'id': 'c7',
  'diagnosed': '2009-12-27',
  'cured': '2019-12-17',
  'kind': 'cond_303'},
 {'id': 'c8',
  'diagnosed': '2009-12-27',
  'cured': '2019-12-31',
  'kind': 'cond_244'},
 {'id': 'c9', 'diagnosed': '2009-12-28', 'cured': None, 'kind': 'cond_12'},
 {'id': 'c10',
  'diagnosed': '2009-12-29',
  'cured': '2019-12-31',
  'kind': 'cond_163'},
 {'id': 'c11',
  'diagnosed': '2009-12-30',
  'cured': '2018-04-03',
  'kind': 'cond_178'},
 {'id': 'c12', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_215'},
 {'id': 'c13', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_140'},
 {'id': 'c14',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-24',
  'kind': 'cond_226'},
 {'id': 'c15', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_90'},
 {'id': 'c16', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_135'},
 {'id': 'c17', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_307'},
 {'id': 'c18',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-31',
  'kind': 'cond_230'},
 {'id': 'c19',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-31',
  'kind': 'cond_37'},
 {'id': 'c20', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_106'},
 {'id': 'c21', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_22'},
 {'id': 'c22',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-08',
  'kind': 'cond_112'},
 {'id': 'c23',
  'diagnosed': '2009-12-31',
  'cured': '2019-06-16',
  'kind': 'cond_210'},
 {'id': 'c24', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_256'},
 {'id': 'c25',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-31',
  'kind': 'cond_73'},
 {'id': 'c26', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_180'},
 {'id': 'c27',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-31',
  'kind': 'cond_145'},
 {'id': 'c28', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_149'},
 {'id': 'c29',
  'diagnosed': '2009-12-31',
  'cured': '2019-12-31',
  'kind': 'cond_71'},
 {'id': 'c30', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_117'},
 {'id': 'c31', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_165'},
 {'id': 'c32', 'diagnosed': '2009-12-31', 'cured': None, 'kind': 'cond_295'}]

In [8]:
def my_program(data, patient_id, condition):
    reccomended_ther = pd.DataFrame(columns = ['id', 'name', 'type'])

    # open dataset
    # with open(dataset_path, 'r') as file:
    #     data = json.load(file)
    patients_df = pd.DataFrame(data['Patients'])
    conditions_df = pd.DataFrame(data['Conditions'])
    therapies_df = pd.DataFrame(data['Therapies'])
    # check if patients and condition exists
    if patient_id not in patients_df.id.values:
        print("Patient ID is not in the data")
    else:
        if condition not in conditions_df.name.values:
            print("Condition is not in the data")
        else:
            # check if condition was already succesfully cured by a therapy (for the given patient)
            cond_id = conditions_df[conditions_df.name==condition].id.values[0]
            if any(d['kind'] == cond_id and d['cured'] != None for d in patients_df[patients_df.id == patient_id].conditions.values[0]):
                
                succ_cond_id = list(filter(lambda d: d['kind'] == cond_id, patients_df[patients_df.id == patient_id].conditions.values[0]))[0]['id'] 
                ther_id = list(filter(lambda d: d['condition'] == succ_cond_id and d['successful']>90, patients_df[patients_df.id == patient_id].trials.values[0]))[0]['therapy']
                reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)
                return reccomended_ther
            else:
                return reccomended_ther

In [5]:
i = my_program(data, "pat_0", "Acute myeloid leukaemia")

C:\Users\elypa\AppData\Local\Temp\ipykernel_11948\267311252.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)

In [6]:
i

        id         name                        type
0  ther_55  Paracetamol  Medicines and medical aids

In [9]:
my_program(data, "pat_1", "Acute myeloid leukaemia")

Empty DataFrame
Columns: [id, name, type]
Index: []

------