# **TEST**

In [92]:
import json
sys.path.append('../')
from utilities import utility_matrix
import pandas as pd
import itertools
from tqdm import tqdm
import numpy as np
import scipy.spatial.distance as distance

In [93]:
# open dataset
with open('../../data/full_data2.json', 'r') as file:
    data = json.load(file)

In [107]:
conditions_df = pd.DataFrame(data['Conditions'])[:20]
therapies_df = pd.DataFrame(data['Therapies'])[:10]
patients_df = pd.DataFrame(data['Patients'])

In [95]:
pat_0_mat = utility_matrix("pat_0")
pat_0_mat

,ther_0,ther_1,ther_2,ther_3,ther_4,ther_5,ther_6,ther_7,ther_8,ther_9
cond_0,0,0,0,0,0,0,0,0,0,0
cond_1,0,0,0,59,7,0,0,37,4,0
cond_2,0,0,0,0,0,75,0,96,0,89
cond_3,0,0,82,0,0,0,0,45,2,0
cond_4,0,0,0,0,62,68,63,0,0,0
cond_5,0,0,0,98,0,0,0,0,0,0
cond_6,0,0,0,0,0,0,0,0,0,0
cond_7,0,0,0,0,0,0,0,0,0,0
cond_8,0,0,0,0,0,0,0,0,0,0
cond_9,0,0,0,0,0,0,0,0,0,0
cond_10,89,0,0,0,0,0,0,0,0,33
cond_11,0,0,0,0,0,0,96,0,0,0
cond_12,81,0,0,0,0,0,0,0,0,0
cond_13,0,0,0,0,0,0,0,0,0,0
cond_14,0,0,0,0,0,0,0,0,0,0
cond_15,0,37,0,82,0,26,0,0,0,0
cond_16,0,0,0,0,0,0,0,0,0,0
cond_17,67,0,0,0,0,0,91,0,0,0
cond_18,0,0,0,0,0,0,0,0,0,0
cond_19,0,0,0,0,14,0,30,0,88,24

In [111]:
pat_cured = []
for i in patients_df.id.values:
    if any(d['kind'] == 'cond_2' and d['cured'] != None for d in patients_df[patients_df.id == i].conditions.values[0]):
        #print(i)
        
        pat_cured.append(i)

In [97]:
pat_cured

['pat_0', 'pat_4', 'pat_6']

In [98]:
u_mat = utility_matrix("pat_1")
vect_1 = u_mat.to_numpy()

In [99]:
utility_matrix("pat_0").to_numpy()

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0, 59,  7,  0,  0, 37,  4,  0],
       [ 0,  0,  0,  0,  0, 75,  0, 96,  0, 89],
       [ 0,  0, 82,  0,  0,  0,  0, 45,  2,  0],
       [ 0,  0,  0,  0, 62, 68, 63,  0,  0,  0],
       [ 0,  0,  0, 98,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [89,  0,  0,  0,  0,  0,  0,  0,  0, 33],
       [ 0,  0,  0,  0,  0,  0, 96,  0,  0,  0],
       [81,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 37,  0, 82,  0, 26,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [67,  0,  0,  0,  0,  0, 91,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 14,  0, 30,  0, 88, 24]], dtype=int64)

In [100]:
cosine_sim = []

for i in tqdm(pat_cured, desc="Caclulating cosine distances"):
    pat = utility_matrix(i)
    mat = pat.to_numpy()
    cosine_sim_pat_0 = 1 - distance.cosine(vect_1.flatten(), mat.flatten())
    cosine_sim.append(cosine_sim_pat_0)

Caclulating cosine distances: 100%|██████████| 3/3 [00:00<00:00, 32.19it/s]

In [61]:
dff = pd.DataFrame({"pat_cured" : pat_cured, 
                    "cosine_similarity": cosine_sim})
dff.sort_values("cosine_similarity", ascending=False)

  pat_cured  cosine_similarity
1     pat_4           0.156972
0     pat_0           0.108105
2     pat_6           0.066371

In [109]:
reccomended_ther = pd.DataFrame(columns = ['id', 'name', 'type'])
succ_cond_id = list(filter(lambda d: d['kind'] == "cond_2", patients_df[patients_df.id == "pat_0"].conditions.values[0]))[0]['id'] 
ther_id = list(filter(lambda d: d['condition'] == succ_cond_id and d['successful']>90, patients_df[patients_df.id == "pat_0"].trials.values[0]))[0]['therapy']
reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)
reccomended_ther

C:\Users\elypa\AppData\Local\Temp\ipykernel_10868\1383727915.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)

       id         name                 type
0  ther_7  Arthroscopy  Surgical procedures

---
## Complete algorithm

In [125]:
def my_program(data, patient_id, condition):
    reccomended_ther = pd.DataFrame(columns = ['id', 'name', 'type'])

    # open dataset
    # with open(dataset_path, 'r') as file:
    #     data = json.load(file)
    patients_df = pd.DataFrame(data['Patients'])
    conditions_df = pd.DataFrame(data['Conditions'])
    therapies_df = pd.DataFrame(data['Therapies'])
    # check if patients and condition exists
    if patient_id not in patients_df.id.values:
        print("Patient ID is not in the data")
    else:
        if condition not in conditions_df.name.values:
            print("Condition is not in the data")
        else:
            # check if condition was already succesfully cured by a therapy (for the given patient)
            cond_id = conditions_df[conditions_df.name==condition].id.values[0]
            if any(d['kind'] == cond_id and d['cured'] != None for d in patients_df[patients_df.id == patient_id].conditions.values[0]):
                
                succ_cond_id = list(filter(lambda d: d['kind'] == cond_id, patients_df[patients_df.id == patient_id].conditions.values[0]))[0]['id'] 
                ther_id = list(filter(lambda d: d['condition'] == succ_cond_id and d['successful']>90, patients_df[patients_df.id == patient_id].trials.values[0]))[0]['therapy']
                reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)
                #return reccomended_ther
            # else:
            # find cured patients subset
            pat_cured = []
            for i in patients_df.id.values:
                if any(d['kind'] == cond_id and d['cured'] != None for d in patients_df[patients_df.id == i].conditions.values[0]):
                    #print(i)
                    
                    pat_cured.append(i)
            # build patient utility matrix
            patient_id_u_mat = utility_matrix(patient_id).to_numpy()
            # build cured patient utility matrix and calculate cosine similarity with patient id matrix
            cosine_sim = []

            for i in tqdm(pat_cured, desc="Caclulating cosine distances"):
                cured_u_mat = utility_matrix(i).to_numpy()
                cosine_sim_pat = 1 - distance.cosine(patient_id_u_mat.flatten(), cured_u_mat.flatten())
                cosine_sim.append(cosine_sim_pat)
            
            cos_sim_df = pd.DataFrame({"pat_cured" : pat_cured, 
                "cosine_similarity": cosine_sim})
            cos_sim_df_sort = cos_sim_df.sort_values("cosine_similarity", ascending=False)
            
            # extract therapies that cured the most similar patients
            for pat in cos_sim_df_sort.pat_cured.values[:5]:   
                succ_cond_id = list(filter(lambda d: d['kind'] == cond_id, patients_df[patients_df.id == pat].conditions.values[0]))[0]['id'] 
                ther_id = list(filter(lambda d: d['condition'] == succ_cond_id and d['successful']>90, patients_df[patients_df.id == pat].trials.values[0]))[0]['therapy']
                reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)

            return reccomended_ther[:5]

In [126]:
i = my_program(data, "pat_6", "Acute cholecystitis")

C:\Users\elypa\AppData\Local\Temp\ipykernel_10868\3009740655.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)
Caclulating cosine distances: 100%|██████████| 3/3 [00:00<00:00, 23.81it/s]
C:\Users\elypa\AppData\Local\Temp\ipykernel_10868\3009740655.py:51: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)

In [127]:
i

       id         name                        type
0  ther_0     Abortion         Surgical procedures
1  ther_0     Abortion         Surgical procedures
2  ther_7  Arthroscopy         Surgical procedures
3  ther_4  Antibiotics  Medicines and medical aids

In [115]:
for c in i.pat_cured.values[:5]:
    print(c)

pat_4
pat_0
pat_6

In [116]:
reccomended_ther = pd.DataFrame(columns = ['id', 'name', 'type'])
for pat in i.pat_cured.values[:5]:   
    succ_cond_id = list(filter(lambda d: d['kind'] == "cond_2", patients_df[patients_df.id == pat].conditions.values[0]))[0]['id'] 
    ther_id = list(filter(lambda d: d['condition'] == succ_cond_id and d['successful']>90, patients_df[patients_df.id == pat].trials.values[0]))[0]['therapy']
    reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)

reccomended_ther

C:\Users\elypa\AppData\Local\Temp\ipykernel_10868\4078483206.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  reccomended_ther = reccomended_ther.append(therapies_df[therapies_df.id == ther_id], ignore_index = True)

       id         name                        type
0  ther_4  Antibiotics  Medicines and medical aids
1  ther_7  Arthroscopy         Surgical procedures
2  ther_0     Abortion         Surgical procedures