# **Collaborative filtering**

#### **Libraries**

In [59]:
import pandas as pd
import requests
import json
from bs4 import BeautifulSoup
from tqdm import tqdm
import random

import pandas_profiling
import numpy as np

print("> Libraries Imported")

> Libraries Imported

In [22]:
# import conditions and therapies data
with open('../../data/full_data.json', 'r') as file:
    all_data = json.load(file)

In [23]:
patients = all_data['Patients']
conditions = all_data['Conditions']
therapies = all_data['Therapies']

In [25]:
def from_dict_to_df(dict):
    new_dict = {}
    for item in dict:
        id = item.pop('id')
        new_dict[id] = item
    df = pd.DataFrame.from_dict(new_dict, orient="index")
    return df
   
   
conditions_df = from_dict_to_df(conditions)

In [40]:
conditions_df

,name,type
cond_0,Abdominal aortic aneurysm,Heart and blood vessels
cond_1,Acne,"Skin, hair and nails"
cond_2,Acute cholecystitis,"Stomach, liver and gastrointestinal tract"
cond_3,Acute lymphoblastic leukaemia,Cancer
cond_4,Acute lymphoblastic leukaemia: Children,Cancer
...,...,...
cond_304,Warts and verrucas,"Skin, hair and nails"
cond_305,Whooping cough,Infections and poisoning
cond_306,Wilms’ tumour,Cancer
cond_307,Womb (uterus) cancer,Cancer
cond_308,Yellow fever,Infections and poisoning

In [36]:
# convert df column type to dummy
df_dc = pd.get_dummies(conditions_df, columns=['type'])

In [45]:
df_dc = df_dc.drop('name', 1)

C:\Users\elypa\AppData\Local\Temp\ipykernel_11352\4209874486.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_dc = df_dc.drop('name', 1)

KeyError: "['name'] not found in axis"

In [ ]:
severity = random.choices(range(1, 100), k=309)
df_dc['severity'] = severity

In [77]:
x = df_dc.iloc[0].values
y = df_dc.iloc[2].values

z=1-spatial.distance.cosine(x,y)
z

0.9996517097075466

In [54]:
# eg of cosine
from scipy import spatial

x=[1,2,3]
y=[6,5,9] 
z=1-spatial.distance.cosine(x,y)
z

0.9644068036349517

In [10]:
-0.5*-2+0.6*0.3+0.5*2.4

2.38

In [80]:
new_dict = {}
for item in therapies:
   id = item.pop('id')
   new_dict[id] = item

In [83]:
new_dict

df = pd.DataFrame.from_dict(new_dict, orient="index")
df

                            name                        type
ther_0                  Abortion         Surgical procedures
ther_1             Amniocentesis                    Biopsies
ther_2                Amputation         Surgical procedures
ther_3               Anaesthesia  Medicines and medical aids
ther_4               Antibiotics  Medicines and medical aids
...                          ...                         ...
ther_62          Ultrasound scan            Scans and X-rays
ther_63  Urinary catheterisation  Medicines and medical aids
ther_64                 Warfarin  Medicines and medical aids
ther_65     Wisdom tooth removal           Dental treatments
ther_66                    X-ray            Scans and X-rays

[67 rows x 2 columns]

In [ ]:

df = pd.DataFrame.from_dict(new_dict, orient="index")

In [72]:
def from_dict_to_df(dict):
   new_dict = {}
   for item in dict:
      id = item.pop('id')
      new_dict[id] = item
   df = pd.DataFrame.from_dict(new_dict, orient="index")
   return df
   
   
from_dict_to_df(conditions, 'id')

KeyError: 'id'

In [23]:
patients_df = pd.DataFrame.from_dict(new_dict, orient="index")
patients_df

,name,gender,conditions,trials
pat_0,Aamir,Male,"[{'id': 'c1', 'diagnosed': '2008-11-16', 'cure...","[{'id': 'c1_t1', 'start': '2014-08-16', 'end':..."
pat_1,Aba,Male,"[{'id': 'c1', 'diagnosed': '2003-03-26', 'cure...","[{'id': 'c1_t1', 'start': '2006-03-03', 'end':..."
pat_2,Ababacar,Male,"[{'id': 'c1', 'diagnosed': '2006-04-24', 'cure...","[{'id': 'c1_t1', 'start': '2019-01-13', 'end':..."
pat_3,Ababei,Male,"[{'id': 'c1', 'diagnosed': '2007-10-16', 'cure...","[{'id': 'c1_t1', 'start': '2018-01-25', 'end':..."
pat_4,Abanob,Male,"[{'id': 'c1', 'diagnosed': '2004-02-12', 'cure...","[{'id': 'c1_t1', 'start': '2013-12-24', 'end':..."
...,...,...,...,...
pat_16917,玲玲,Female,"[{'id': 'c1', 'diagnosed': '2001-07-10', 'cure...","[{'id': 'c1_t1', 'start': '2010-03-28', 'end':..."
pat_16918,珊珊,Female,"[{'id': 'c1', 'diagnosed': '2000-01-18', 'cure...","[{'id': 'c1_t1', 'start': '2014-08-23', 'end':..."
pat_16919,盈盈,Female,"[{'id': 'c1', 'diagnosed': '2008-07-30', 'cure...","[{'id': 'c1_t1', 'start': '2015-12-31', 'end':..."
pat_16920,芳芳,Female,"[{'id': 'c1', 'diagnosed': '2007-05-12', 'cure...","[{'id': 'c1_t1', 'start': '2013-06-30', 'end':..."
pat_16921,青青,Female,"[{'id': 'c1', 'diagnosed': '2007-03-24', 'cure...","[{'id': 'c1_t1', 'start': '2007-12-24', 'end':..."

c:\Users\elypa\anaconda3\envs\DATA_MINING\lib\site-packages\scipy\spatial\distance.py:299: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  u = np.asarray(u, dtype=dtype, order='c')

TypeError: can't multiply sequence by non-int of type 'str'